@use 'base/variables' as v;
@use 'base/mixins' as m;

.benefits {
    background-color: v.$primary;
    text-align: center;

    &-grid {
        @include m.tablet {
            @include m.grid(5, 4rem);
            align-items: center;
            text-align: left;
        }
    }

    &-content {
        grid-column: 1 / 4;

        h2 {
            @include m.borderedHeading(v.$secondary, v.$white);
        }
    }

    .image {
        grid-column: 4 / 6;
        transition: transform 300ms;

        &:hover {
            transform: rotate(8deg) scale(1.1);
        }
    }
}